<h1 class="log_in-title">ログイン</h1>
<div class="log_in-form">
  <div>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      <div class="mail-form">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "input-field" %>
      </div><br>

      <div class="password-form">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: "input-field" %>
      </div><br>
      <%= f.submit "ログイン", class: "button update" %>
    <% end %>
    <p>新規登録は <%= link_to "こちら", signup_path, class: "link" %></p>
  </div>
</div>