<h1 class="sign_up-title">ユーザー新規登録</h1>
<div class="sign_up-form">
  <div>
    <%= form_with model:@user, local: true do |f| %>
      <%#= render 'shared/error_messages' %>
      <div class="name-form">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: "input-field" %>
      </div><br>

      <div class="mail-form">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "input-field" %>
      </div><br>

      <div class="password-form">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "input-field" %>
      </div><br>

      <div class="password_confirmation-form">
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: "input-field" %>
      </div><br>

      <%= f.submit "登録する", class: "button create" %>
    <% end %>
  </div>
</div>