<h1 class="address-title">場所の名前の編集</h1>
<div class="address-edit-form">
  <div>
    <%= form_with model:@address, local:true do |f| %>
      <div class="name-form">
        <%= f.label :name, "場所の名前" %>
        <%= f.text_field:name, placeholder: "15文字以内", class: "input-field" %>
      </div><br>

      <div class="limit-form">
        <%=f.label :limit, "上限数" %><br>
        <%= f.select :limit, options_for_select((1..30).to_a), class: "select-field" %>
        この場所の上限数&nbsp; &nbsp;：<%= @address.limit %><br>
        この場所にあるモノ：<%= @items.count %>
      </div><br>
      <%= f.submit '更新', class: "button update" %>
    <% end %>
    <%= link_to address_path(@address), method: :delete,data: {confirm: "本当に削除しますか？"} do %>
     <button class="button delete">削除する</button>
    <% end %>
  </div>
</div>
