<div class="picture-form">
  <%= f.label :picture, "画像" %><br>
  <% if @item.picture.attached? %>
    <%= image_tag @item.picture, size: "450x450" %>
  <% end %><br>
  <%= f.file_field :picture,class: "image_form" %>
</div><br>
<div class="name-form">
  <%= f.label :name, "名前" %>
  <%= f.text_field:name, placeholder: "20文字以内", class: "input-field" %>
</div><br>

<div class="category-form">
  <%= f.label :name, "カテゴリー" %>
  <%= f.collection_select :category_id, Category.where(user_id: current_user.id) ,:id, :name, class: "select-field" %>
</div><br>

<div class="address-form">
  <%= f.label :name, "場所" %>
  <%= f.collection_select :address_id, Address.where(user_id: current_user.id) ,:id, :name, class: "select-field" %>
</div><br>
<%= f.hidden_field :user_id, value: current_user.id %>


<% if local_assigns[:edit_page].present? %>
  <%= f.submit '更新する', class: "button update btn" %>

  <%= link_to item_path(@item), method: :delete,data: {confirm: "本当に削除しますか？"} do %>
    <button class="button delete">削除する</button>
  <% end %>

<% else %>
  <%= f.submit '登録', class: "button create" %>
<% end %>
