<h1>モノ一覧</h1>
<p>全<%= @items.count %>個</p>
<h3>カテゴリー一覧</h3>
<% @categories.each do |category|  %>
  <%= link_to search_category_path(category_id: category.id) do%>
    <div>
      <%= category.name %>(<%= category.items.count %>)
    </div>
  <% end %>
<% end %>



<% @items.each do |item| %>
  <h3>名前</h3>
  <%= link_to item_path(item)  do %>
    <%= item.name %>
  <% end %>
<% end %>