<h1><%= @item.name %>の詳細</h1>
<table>
<tr>
<th>カテゴリー</th>
<td><%= @item.category.name %></td>
</tr>
<th>場所</th>
<td><%= @item.address.name %></td>
</table>

<% if @item.picture.attached? %>
  <%= image_tag @item.picture, size: "450x450" %>
<% end %>
<div class="action-btn">
  <%= link_to  edit_item_path(@item) do %>
    <span class="button edit">編集する</span>
  <% end %><br>
  <%= link_to item_path(@item), method: :delete,data: {confirm: "本当に削除しますか？"} do %>
    <span class="button delete">削除する</span>
  <% end %>
</div>