<div class="item-show">
  <div>
    <h1><%= @item.name %>の詳細</h1>
    カテゴリー<br>
    <%= @item.category.name %><br>
    場所<br>
    <%= @item.address.name %><br>

    <% if @item.picture.attached? %>
      <%= image_tag @item.picture, size: "450x450" %>
    <% end %>

    <div class="action-btn">
      <%= link_to  edit_item_path(@item) do %>
        <button class="button edit">編集する</button>
      <% end %><br>
      <%= link_to item_path(@item), method: :delete,data: {confirm: "本当に削除しますか？"} do %>
        <button class="button delete">削除する</button>
      <% end %>
    </div>
  </div>
</div>