<h1 class="category-title">モノのカテゴリー</h1>
<div class="categories">
  <div>
    <% @categories.each do |category| %>
      <%= link_to search_category_path(category_id: category.id), class: "link" do %>
        <div class="category-list">
          <span>▶︎<%= category.name %>(<%= category.items.count %>)</span>
        </div>
      <% end %>
      <%= link_to "編集する", edit_category_path(category), class: "link button edit" %>
    <% end %>
  </div>
</div>

<h1>カテゴリーを新しく登録する</h1>
<%= form_with model:@category, local:true do |f| %>
  <h3><%= f.label :name, "カテゴリーの名前" %></h3>
  <%= f.text_field:name %>
  <%= f.submit '登録', class: "button create" %>
<% end %>
