<!--<nav>-->
    <div>
      <%= link_to root_path, class: "link" do %>
      　<%= image_tag 'favicon.ico', class: "favicon" %>
      <% end %>
      <% if logged_in? %>
        <div class= "search-form">
          <%= form_with url: search_path, method: :get,  local: true do |f|%>
            <%= f.text_field :keyword, value: @keyword ,placeholder: "モノ検索", class: "search-input" %>
            <%= f.submit "検索", class: "search-submit" %>
          <% end %>
        </div>
        <div class="login_case">
          <div>
            <%= link_to 'モノ新規登録', new_item_path, class: "link" %>
          </div>
          <div>
            <%= link_to 'モノ一覧', items_path, class: "link" %>
          </div>
          <div>
            <%= link_to '場所一覧', addresses_path, class: "link" %>
          </div>
          <div>
            <%= link_to 'カテゴリー一覧', categories_path, class: "link" %>
          </div>
          <div>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "link" %>
          </div>
        </div>
      <% else %>
      <div class="logout_case">
        <div>
        <%= link_to 'ユーザー新規登録', signup_path, class: "link" %>
        </div>
        <div>
        <%= link_to 'ログイン', login_path, class: "link" %>
        </div>
      </div>
      <% end %>
    </div>
<!--</nav>-->