<!DOCTYPE html>
<html>
  <head>
    <title>Monoadd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
    </style>
  </head>

  <body>
    <header>
    <%= render 'layouts/header' %>
    </header>
    <div class="notification">
<%= flash[:notice] %>
</div>
    <%= yield %>
  </body>
</html>
